<launch> 
    <!-- Temperature Measurement Sensor (connected test profile) -->
    <node name="g3t1_3" pkg="component" type="g3t1_3" output="log" />

    <param name="start" value="true" />

    <param name="frequency" value="0.6" /> <!-- 1 Hz  -->

    <!-- Defines the percentages to consider low, moderate or high risk -->
    <param name="lowrisk" value="0,20" />
    <param name="midrisk" value="21,65" />
    <param name="highrisk" value="66,100" />

    <!-- Risk values tuned to exercise unknown label path in connected tests -->
    <param name="temperature_HighRisk0" value="0,31.99" />
    <param name="temperature_MidRisk0" value="32,35.99" />
    <param name="temperature_LowRisk" value="37,37" />
    <param name="temperature_MidRisk1" value="38,40.99" />
    <param name="temperature_HighRisk1" value="41,50" />

    <!-- accuracy in percentage -->
    <param name="data_accuracy" value="99" type="double" />
    <param name="comm_accuracy" value="100" type="double" />

    <!-- instant recharge parameter-->
    <param name="instant_recharge" value="true" type="bool" />

    <!-- real world parameter-->
    <param name="connect_sensor" value="true" type="bool" />

</launch>