<launch>
    <include file="$(find messages)/../configurations/logging_infrastructure/test_logger.launch" />

    <include file="$(find messages)/../configurations/target_system/test_probe.launch" /> 

    <include file="$(find messages)/../configurations/knowledge_repository/test_data_access.launch" /> <!-- KNOWLEDGE REPOSITORY -->
    <include file="$(find messages)/../configurations/target_system/test_g4t1.launch" /> <!-- APPLICATION -->
  <param name="test_module" value="$(find component)/test/test_bdd/test_knowledge_repo.py"/>
  <test test-name="test_knowledge_repo" pkg="ros_pytest" type="ros_pytest_runner" />
</launch>